body {
    background-color: white;
    font-family: 'Abel';
    color: black
}

.super {
    background: linear-gradient(to bottom right, #64f80e 0%, #18f8f8 100%);
    color: white;
    padding: 20px;
    text-align:left;
    font-family: 'Abel';
}

#navbar {
    background-color: rgb(194, 194, 194);
    color: green;
    text-align: left;
    padding-left: 0px;
    font-family: 'Abel' sans-serif;
    font-size: 26px;
    font-weight: 100;
    text-decoration: none;
    position: sticky;
}

#navbar li{
    display: inline-block;
    padding-left: 20px;
    position: sticky;
}

#showcase-1{
    border-style: dashed;
    background-image:url(images/ayurveda-1.jpg);
    border-color: white;
    border-radius: 30px;
    height: 500px;
    font-size: 26px;
    padding-bottom: 10px;
    color: white;
    margin-top: 20px;
    font-family: 'Abel';
}

.sp{
    padding-left: 20px;
}

button{
    border-style: dashed;
    border-width: 2px;
    border-color: white;
    background-color: transparent;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: rgb(245, 245, 245);
    font-size: 25px;
    padding-left: 10px;
    text-decoration: none;
    font-family: 'Abel';
    width: 300px;
    text-align:center;
}

#showcase-2{
    border-style: dashed;
    background-image:url(images/ayurveda-2.jpg);
    border-color: white;
    border-radius: 30px;
    height: 500px;
    font-size: 26px;
    padding-top: 10px;
    margin-top: 20px;
    font-family: 'Abel';
}

.st {
    padding-left: 20px;
}

#showcase-3{
    border-style: dashed;
    background-image: url(images/ayurveda-3.jpg);
    border-color: white;
    border-radius: 30px;
    height: 500px;
    font-size: 26px;
    margin-top: 20px;
    font-family: 'Abel';
}

#showcase-4{
    border-style: dashed;
    background-image: url(images/ill-1.jpg);
    border-color: white;
    border-radius: 30px;
    height: 500px;
    font-size: 26px;
    margin-top: 20px;
    font-family: 'Abel';
}

#showcase-5{
    border-style: dashed;
    background-image: url(images/health-4.jpg);
    border-color: white;
    border-radius: 30px;
    height: 500px;
    font-size: 26px;
    margin-top: 20px;
    font-family: 'Abel';
}

#showcase-6{
    border-style: dashed;
    background-image: url(images//headache.jpg);
    border-color: white;
    border-radius: 30px;
    height: 500px;
    font-size: 26px;
    margin-top: 20px;
    font-family: 'Abel';
}

#showcase-7{
    border-style: dashed;
    background-image: url(images/ill-2.jpg);
    border-color: white;
    border-radius: 30px;
    height: 500px;
    font-size: 26px;
    margin-top: 20px;
    font-family: 'Abel';
}

#showcase-8{
    border-style: dashed;
    background-image: url(images/ill-3.jpg);
    border-color: white;
    border-radius: 30px;
    height: 500px;
    font-size: 26px;
    margin-top: 20px;
    font-family: 'Abel';
}


.none{
    padding-top: 200px;
    padding-left: 10px;
}

.none-man{
    padding-top: 200px;
    padding-left: 10px;
}

.me {
    padding-top: 200px;
    padding-left: 10px;
}




body, html {
	margin: 0;
	font-family: 'Abel';
}

a {
	outline: none;
}

.navbar-container {
	text-align: center;
	background-color: #009688;
    box-shadow: 2px 4px 3px #333333;
	padding: 10px;
	font-size: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.navbar-container ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.navbar-container ul li {
	display: inline-block;
	font-size: 16px;
}

.navbar-container ul li a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;	
	padding: 10px;
	transition: color 0.5s;
}

.navbar-container ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color: white;
}

.navbar-container ul li:hover .underline {
	background-color: white;
	width: 100%;
}

.navbar-container ul li:hover a {
}

.navbar-container ul li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

@media only screen and (max-width: 300px){
    button{
      color: white;
      padding-top: 10px;
      margin-bottom: -50em;
  }  

    section {
      color: white;
      padding-top: -30px;
      margin-bottom: 10em;
    }

    .happen{
      width: 100%;
    }

    #search{
      width: 100%;
    }

  div  {
    color: white;
    padding-top: 30px;
    margin-bottom: -30em;
  }

  .sp{
    margin-bottom: -30em;
  }
  }
